<!DOCTYPE HTML>
<html>

    <head>
        {% block meta_tags %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {% endblock %}
        {% block favicon %}
            <link rel="icon" type="image/x-icon" href="favicon.ico" />
        {% endblock %}

        <title>{% block title %}Silex Boilerplate{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
            <link rel="stylesheet" href="/css/main.css" media="screen" title="main stylesheet" charset="utf-8">

            <!-- Vue must be included before body -->
            <script src="/lib/vue/dist/vue.min.js" charset="utf-8"></script>
        {% endblock %}
    </head>

    <body>
        {% block content %} {% endblock %}

        {% block javascripts %}
            <script src="/lib/lodash/dist/lodash.min.js"></script>
            <script src="/lib/jquery/dist/jquery.min.js"></script>
            <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
            <!--<script src="/js/build.vue.js"></script>-->

            <script>
                new Vue({
                    el: 'body'
                });
            </script>
        {% endblock %}
    </body>

</html>
