{% extends 'base.html.twig' %}

{% block content %}
    <div>

        <h1><a href="{{ path('rss_test') }}">Silex App</a></h1>

        <ul>
            {% for user in data %}
                <li>
                    {{ user.username }} | {{ user.roles }}
                </li>
            {% endfor %}
        </ul>

    </div>
{% endblock content %}
