{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <div class="container">
        <h1>
            <a href="{{ path('silex_home') }}">Silex App</a>
        </h1>

        <div class="container">
            <data-table :data="{{ users | json_encode() }}"></users-table>
        </div>

    </div>
{% endblock %}
